*.pyc
node_modules/*
pysheets.db
openai.json
.DS_Store
.python-version
src/pysheets_app.egg-info/*
dist/*
.do/app.yaml
src/static/pyscript/*
src/static/pyodide/*
src/static/micropython/*
src/static/ltk/*
.venv
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
