include src/requirements.txt
include src/static/*.ico
include src/static/*.css
include src/static/*.js
include src/static/*.png
include src/datafiles/*.csv
include src/templates/*.html
include CONTRIBUTE.MD