<!DOCTYPE html>
<html lang="en">

<head>
    <title>PySheets</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://pyscript.net/releases/2024.3.1/core.css">
    <script type="module" src="https://pyscript.net/releases/2024.3.1/core.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" >

    <script defer src="leader-line.min.js"></script>
    <script src="pysheets.js" type="module"></script>
    <script>window.app_version = '';</script>
    <link defer rel="stylesheet" href="pysheets.css">

    <{{runtime}}-config>
        {{interpreter|safe}}
        {{auto|safe}}
        {{packages|safe}}
        [files]
        ### "static/main_min_0.py" = "main_min_0.py"
        ### "static/main_min_1.py" = "main_min_1.py"
        {{files|safe}}
    </{{runtime}}-config>
    <script type="{{runtime}}" src="./main.py"></script>

</head>

<body>
    <div class="header">
        <div class="logo-container">
            <img class="logo" src="favicon.ico">
            <div id="menu" class="menu"></div>
        </div>
        <div id="cell-attributes-container" class="cell-attributes-container"></div>
        <div id="info" class="info">
            <input id="title" value="⏳ Loading{{vm}}...">
        </div>
        <div class="column buttons-container"></div>
        <div class="column user-image-container">
            <button class="menu-button">⋮</button>
        </div>
    </div>
    <div id="login-container" style="display: none;">
        <center>
        <br><br>
        <h1 id="login-title">Sign In to PySheets:</h1>
        <form class="login-form">
            <input type="text" class="text" placeholder="Email" name="username" autocomplete="username" id="login-email" value="{{email}}" required>
            <input type="password" class="text" placeholder="Password" name="login-password" id="login-password"
                autocomplete="new-password" required>
            <input type="text" class="text" placeholder="The 6-Digit Code that we emailed to you" name="login-code" id="login-code"
                autocomplete="new-password" required>
        </form>
        <div>
            <span id="login-message"></span>
            <span id="login-password-reset">Reset password</span>
        </div>
        <br>
        <button type="submit" id="login-login">Sign in</button>
        <button type="submit" id="login-reset">Change Password</button>
        <button type="submit" id="login-register">Register Account</button>
        <button type="submit" id="login-confirm">Confirm Registration</button>
        <br><br>
        <!-- button type="submit" id="login-forgot">Forgot&nbsp;Password</button-->
        <span id="login-register-link">Create a new account</span>
        <span id="login-signin-link">Sign in with an existing account</span>

        <br><br> <br><br> <br><br> <br><br><br><br> <br><br>
        <hr>

        <div class="disclaimer">
        <h2 style="color: red">⚠️ PySheets is in Alpha Mode ⚠️</h2>
        THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
        INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
        PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
        HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION 
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
        SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        <br><br>
        As long as PySheets is in early development, you should not use it to
        store personal, sensitive, or private data. The tool is under active
        development. The UI and data schema may change at any point in time. You may
        lose all the data in your sheets. Only use PySheets for experiments or to evaluate
        the technology. 
        <br><br>
        This application is copyrighted by Ahead In The Cloud Computing B.V.
        <br><br>
        For more information, contact <a href="mailto:chris@chrislaffra.com">chris@chrislaffra.com</a>.
        </div>

        </center>
    </div>
    <div id="main" class="main" style="display: none;"></div>
    <div id="dashboard" class="dashboard" style="display: none;"></div>


</body>

</html>